
body{
    font-size: 14px;
    padding-top: 70px;

}


.portfolio-item {
    margin-bottom: 25px;
}


h1{
    font-size: 4rem;
    margin-bottom: 5%;
    color:#CD5C5C;
    font-family: market, serif;
    text-align: center;
}

h2{
    font-size: 2.8rem;
    color:#5F9EA0;
    margin-bottom:4%;
    text-align: center;
}

.title-cover-page {
  font-size: 60px;
  font-weight: 500;
  font-family: market, serif;

}

#histoire{
    background-color: #F5F5F5;
}


.read_about{
    color: #C94747;
    font-weight: bold;
}

.read_about:visited{
    color: #751D1D;
    font-weight: bold;
}

hr{
    border: 1px solid #751D1D;
}

.img-fluid{
    width:100%;
    height: auto;
    border-radius: 20px;
    border: 7px solid #751D1D;
    margin-left: 0;
}

.photo{
    margin-top:2%;
}





/* footer */

.list_footer{
  list-style-type: none;
  color:white;
  margin-top:5%;
}

.fond_footer{
  background-color:black;
}

.fond_footer > div > div > div > ul > li{
    margin-bottom:5%;
}

.fond_footer > div > div > div > ul > li > a{
    text-decoration: none;
    color:white;
}
.logo_rsocial{
    height:20px;
    width:20px;
    margin-left:5%;
    background-color: white;
}

.copyright > p{
    font-style: italic;
    font-weight: bold;
    text-align: center;
    margin-top:1%;
}


// Navbar

.navbar {
    background-color: black;
    border: none;
    padding: 5px;
}

.infobar{
    background-color: black;
}

.navbar-header > a.navbar-brand {
  color: white;
  font-family: market;
  font-size: 2.5rem;
  font-weight: 600;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0;
}

.title-caption {
  font-size: 1.5rem;
}

@media screen and (min-width: 1200px){
    .title-caption {
        font-size: 2rem;
    }
}

@media screen and (min-width: 768px) and (max-width: 1200px){
    .title-caption {
        font-size: 1.75rem;
    }
}

.btn-success {
  background-color: #5f9ea0;
}

.btn-success:hover {
  background-color: #63B7A2;
}

.btn {
  font-weight: 600;
}

@media screen and (min-width:992px){
  .navbar-header > a.navbar-brand {
    font-size: 3rem;
  }
}

.btn.navbar-right {
  margin-right: 55px;
}

.logo-navbar {
  height: 50px;
  margin-right: 10px;
}

// Affix btn RESERVATION @1200px witdh
.affix {
    top: 10;
    width: 100%
    z-index: 9999 !important;
  }


.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: rgba(0,0,0,0.95);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 10px 10px 10px 10px;
    text-decoration: none;
    font-size: 25px;
    color: #b3b3b3;
    display: block;
    transition: 0.4s;
    text-align: center;


}

.sidenav a:hover {
  color: white;
  border-bottom: 2px solid white;
}

.sidenav a:first-child {
  border-bottom: none;
}

.sidenav a:hover:first-child {
  color: red;
}

.closebtn:hover {
  color: red;
}

.sidenav .closebtn {
    position: absolute;
    top: -10px;
    right: 10px;
    font-size: 50px;
    margin-left: 2px;
}

.btn-open {
  position:fixed;
  right: 15px;
  top:5px;
}

@media screen and (min-width:1200px) {
    .btn-open {
        top:20px;
    }
}

.infobar {
  margin-top: 0px;
  padding-top: 5px;
  padding-bottom: 0px;
}

.cover-page {
  color: white;
}

.border-right{
    border-right:2px white solid;
}
