/* CSS julien */
/* CSS des pills */

.block_entre{
  margin-bottom:15%;
  width:80%;
}

.entree{
  border:1px red solid;
  display:flex;
  justify-content:space-between;
  font-weight:bold;
  font-size:1.2em;
}

.descri_entre{
  font-style:italic;
}

/* Side bar côté droit */

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    color:red;
}

.btn-open
{
position:fixed;
right:5px;
top:5px;
}

/* Navar fixé */

.first_container
{
  margin-top:50px;
}


.navbar-header{
  width:100%;
}


.col_tel, .col_adresse{
  margin-top:5px;
  margin-left:40px;
  display:flex;

}

.logo_tel, .logo_loc{
  height: 30px;
  width: 30px;
  margin-top:10px;
}

.btn_resa{
  text-align: center;
  margin: auto;
  background-color:black;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

/* EVENTS SECTION *
/* containers behaviour */
.container.event-container {background-color: rgb(245,245,245);}

.carousel.carousel_event{
  width: 450px;
  height: 600px;
	margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
	overflow: hidden;
}

.panel-group {
	width: 80%;
	max-width: 90%;
	min-width: 70%;
  margin:auto;
  margin-top: 10%;
}

/* TEXT ACCORDEON */
.titre-accordeon {
  font-size: 2.2em;
  color: black;
  margin-top: 5%;
  text-align: center;
  border: solid black;
  border-radius: 15px;
  padding: 10px;
  background-color: white;
  opacity: 0.8;
}

.panel-title {font-weight: bold;}

span {margin-left: 5%;}

.panel-body {line-height: 1.6;}


/* Media queries events */  

@media only screen and (min-width: 1080px) {
.titre-accordeon {
	font-size: 2.2em;
  text-align: center;
}

p {font-size: 1.3em;}
}

@media only screen and (max-width: 780px) {
.panel-group {
	width: 80%;
	max-width: 90% ;
	min-width: 70%;
}

.titre-accordeon {
	font-size: 2em;
	margin-top: 5%;
}

p {font-size: 1.2em;}
}

/* SECTION HISTORY BEN*/
.histoire-section {
    padding-top: 45px;
    padding-bottom: 45px;
    background-image: linear-gradient(yellow, white);
}

.histoire-page-droite img { margin:auto; }

.histoire-logo{ padding-bottom: 1rem; }

.align-center { text-align:center; }

.histoire-titre { 
  font-size: 3rem;
  word-wrap: break-word;
  margin-top: 0;
  margin-bottom: .5rem;
  padding-bottom: 1.5rem;
}

.histoire-text:before {
    color: #333333;
    content: "\201C";
    font-size: 3em;
    line-height: 0.1em;
    margin-right: 0.2em;
    vertical-align: -0.4em;
    position: absolute;
    top: 3px;
    left: -1rem;
}

.histoire-text:after {
    color: #333333;
    content: "\201D";
    font-size: 3em;
    line-height: 0.1em;
    vertical-align: -0.45em;
    position: absolute;
    bottom: 3px;
    right: -1rem;
}

.histoire-text {
  font-size: 1.75rem;
  line-height: 1.6;
  font-style: normal;
  position: relative;
  margin-top: 0;
  margin-bottom: 1rem;
  display:block;
}

.histoire-button { 
  text-align: center; 
  margin-top: 8%; 
  margin-bottom: 5%;
}





/* Carousel imag */
.img_fluid{
max-width: 100%;
height:auto;
}
