/* CSS julien */
/* CSS des pills */
.first_container{
  margin-bottom: 3%;
}

.block_entre{
  margin-bottom:15%;
  width:80%;
}

/*
.naviguation_menu > li {
    text-decoration:none;
    border:1px red solid;
    color:red;
}
*/


.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover
{
    color:black;
    font-weight:bold;
    font-size:20px;
}

.nav-tabs > li.no-active > a, .nav-tabs > li.no-active > a:focus, .nav-tabs > li.no-active > a:hover{
    color:black;
    font-size:25px;
}


.entree{
  display:flex;
  justify-content:space-between;
  font-weight:bold;
  font-size:1.2em;
}

.descri_entre{
  font-style:italic;
}

.menu, .menu_middle{
  text-align: center;
}

.menu_middle{
  text-align: center;
  border-right: 3px gray dotted;
  border-left: 3px gray dotted;
}

.col_entree, .col_plat, .col_dessert{
  border-right: 3px gray dotted;
  border-left: 3px gray dotted
}

.nav
{
margin-bottom:3%;
}

div.container> div > div > ul{
  list-style-type:none;
  margin-top:5%;
}

div.container> div > div > ul > li{
  padding-bottom:10px;
}

li.active: > a{
  color:red;
}
.nav > li > a{
color:blue;
}


div.container > div > div > h4{
  color:black;
  font-size: 1.6em;
  font-weight: bold;
  margin-bottom:10%;

}

div.container > div > div > ul > li{
  font-style: italic;
  margin:2%;
}


/* Navar fixé */

.first_container
{
  margin-top:50px;
}


.navbar-header{
  width:100%;
}


.col_tel, .col_adresse{
  margin-top:5px;
  margin-left:40px;
  display:flex;

}

.logo_tel, .logo_loc{
  height: 30px;
  width: 30px;
  margin-top:10px;
}

.btn_resa{
  text-align: center;
  margin: auto;
  background-color:black;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

/* SECTION EVENTS BEN *
/* CONTAINERS BEHAVIOR */
.carousel.carousel_event{
  width: 420px;
  height: 600px;
	margin: auto;
  margin-top: 20px;
  margin-bottom: 30px;
}

.panel-group {
	width: 80%;
	max-width: 90%;
	min-width: 70%;
  margin:auto;
  margin-top: 10%;
}

/* TEXT ACCORDEON */
.titre-accordeon {
  font-size: 2.2em;
  color: black;
  margin-top: 5%;
  text-align: center;
  border: solid black;
  border-radius: 15px;
  padding: 10px;
  background-color: white;
  opacity: 0.8;
}

.panel-title {font-weight: bold;}

span {margin-left: 5%;}

.panel-body {line-height: 1.6;}


/* MEDIA QUERIES */

@media only screen and (min-width: 1080px) {
.titre-accordeon {
	font-size: 2.2em;
  text-align: center;
}

p {font-size: 1.3em;}
}

@media only screen and (max-width: 780px) {
.panel-group {
	width: 80%;
	max-width: 90% ;
	min-width: 70%;
}

.titre-accordeon {
	font-size: 2em;
	margin-top: 5%;
}

p {font-size: 1.2em;}
}

/* SECTION 1 HISTOIRE BEN */

.part_histoire{
  margin-top:50px;
  border:2px red solid;
}
.sidebar{
	background: #dbdfe5;
	text-align: center;
	border-radius: 15px;
  margin-top: 25%;
  margin-bottom: 10%;
}

.content{
    text-align: center;
    min-height: 400px;
    border-radius: 15px;
}

.img_histoire {
    width: 100%;
    height: auto;
    margin-top:15px;
    margin-bottom: 15px;
}


/* Carousel img */
.img_fluid{
max-width: 100%;
height:auto;
}

/* CSS Bar et bieres */

.ligne_coktail{
margin-top:80px;
margin-bottom: 80px;
}

.section_biere{
background-color:rgba(210,210,210,0.5)
}

.cadre_boisson, .cadre_biere{
border:2px gray solid;
margin-bottom:10%;
}
.cadre_boisson{
height:650px;
}

.cadre_biere{
height:450px;
}

.titre_boisson{
  font-weight:bold;
  font-size:1.5em;
}

div.container-fluid > div > div > div> div > ul > li, .ligne_coktail > div > div > ul > li{
  font-style:italic;
  font-size:1.2em;
}

/*
.section_biere > .container > .row > h3{
  color:red;

*/

/* COVER PAGE */

.background {
  background-image: url(../img/cover-page.jpg);
  height: 100vh;
  width: 100vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.overlay {
  background-color: rgba(0,0,0,.2);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
}

.title-cover {
  margin-top: 95px;
}


/* NAVBAR & SIDEBAR */
.navbar {
    background-color: black;
    border: none;
    min-height: 95px;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: rgba(0,0,0,0.95);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 10px 10px 10px 10px;
    text-decoration: none;
    font-size: 25px;
    color: #b3b3b3;
    display: block;
    transition: 0.4s;
    text-align: center;
  
    
}

.sidenav a:hover {
  color: white;
  border-bottom: 2px solid white;
}

.sidenav a:first-child {
  border-bottom: none;
}

.sidenav a:hover:first-child {
  color: red;
}

.closebtn:hover {
  color: red;
}

.sidenav .closebtn {
    position: absolute;
    top: -10px;
    right: 10px;
    font-size: 50px;
    margin-left: 2px;
}

.btn-open {
  position:fixed;
  right: 10px;
  top:0;
}
  
.container-fluid {
  padding-top: 10px;
  padding-bottom: 10px;
}

.cover-page {
  color: white;
}

/* LOGO */
.logo {
  max-width : 30vw;
  max-height: 95px;
  margin-top: 10px;
}

/* INFORBAR */
.border-right {
    border-right: 2px solid white;
}

.infobar {
  padding-top: 10px;
  text-transform: uppercase;
}

/* GRID ON COVER PAGE */

.grid-cover-page {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr ;
  grid-gap: 10px ;
}

.grid-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  vertical-align: middle;
  text-align: center;
  border: 2px solid black;
  border-radius: 15px;
}

.grid-item-A {
  grid-column: span 2;
  grid-row: span 2;
}

.grid-item-B {
  grid-column: span 2;
  grid-row : 1 ;
}

/* CSS footer */
.list_footer{
  list-style-type: none;
  color:white;
}

.fond_footer{
  background-color:#918F8F;
}

.fond_footer > div > div > div > ul > li{
    margin-bottom:5%;
}

.logo_rsocial{
    height:20px;
    width:20px;
    margin-left:5%;
}

.copyright > p{
    font-style: italic;
    font-weight: bold;
    text-align: center;
    margin-top:1%;
}

/* Partie reservation */

.titre_reservation, .titre_contact{
    margin-top: 5%;
    font-size:1.5em;
    font-weight:bold;
}

div.col-md-5> .text_reservation{
    font-size: 1.1em;
    font-style: italic;
    margin-top: 5%;
    margin-bottom:5%;
}

.form-control{
    margin-bottom:5%;
    width:60%;
    position:relative;
}


.reservation{
    position:relative;
    border:2px black solid;
    border-radius: 20px;
}

.date_heure{
    display:flex;
    justify-content: space-around;
}


.tel, .mail, .nb_personnes{
    width:50%;
}

.heure{
    width:30%;
}

.btn-primary{
    position:relative;
    left:60%;
    margin-top:5%;
    margin-bottom: 5%;
}

iframe{
    width:100%;
}
